<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar </h4>

        <div class="progress m-t-20">
            <div class="progress-bar bg-primary progress-bar-striped active" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style=" height:10px;" [style.width]="getPorcentaje1" role="progressbar"> <span class="sr-only">85% Complete (success)</span> </div>
        </div>
        <div class="progress m-t-20">
          <div class="progress-bar bg-info progress-bar-striped active" aria-valuenow="85" aria-valuemin="0" [style.width]="getPorcentaje2" aria-valuemax="100" style=" height:10px;" role="progressbar"> <span class="sr-only">85% Complete (success)</span> </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valor)="progreso1 = $event" [progreso]="progreso1" ></app-incrementador>

      </div>

    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valor)="progreso2 = $event" [btnClass]="'btn-info'"  [progreso]="progreso2" ></app-incrementador>

      </div>
    </div>
  </div>



</div>
